alias vi="vim"
alias mvi="gvim"
alias vup="cd $HOME/Vagrant/winxp; vagrant up; cd ~"
alias kayak="cd /data/Code/kayak; pwd"
alias py="cd /data/Code/sohunjug-code/python; pwd"
alias cpp="cd /data/Code/sohunjug-code/cpp; pwd"
alias cds="cd /data/Code/sohunjug-code/; pwd"
alias docker="sudo docker"
alias qq="screen -S webqq -m $HOME/Documents/launch.pl"
alias xp="rdesktop-vrdp -u sohunjug -p huwenqi -r sound:local -r clipboard:CLIPBOARD -g 1920x1000 127.0.0.1:3389"
alias hdmia="pacmd set-card-profile 0 output:hdmi-stereo-extra1"
alias home="~/.screenlayout/home.sh"
alias only="~/.screenlayout/only.sh"
alias work="~/.screenlayout/work.sh"
alias htproxy="sshpass -p "1ww9w-Ps1A34" ssh -qCD 7070 wwwuser@115.159.144.118 -p 22022 > /dev/null &"
alias ht="p -f ~/.config/htproxy.conf"
alias sms="synergys -c ~/.synergy.conf"
alias conn="~/.sshlist/ssh.py"
