['Desktop', 'Entry', 'Name', 'QQLite', 'Exec', 'WINEPREFIX', 'home', 'sohunjug', 'wine', 'windows', 'command', 'start', 'Unix', 'dosdevices', 'Program', 'Files', 'Tencent', 'Type', 'Application', 'StartupNotify', 'true', 'Path', 'Icon', '06F2_QQLite']
