['Desktop', 'Entry', 'Name', 'Comment', 'RemoteApp', 'Exec', 'xfreerdp', 'sohunjug', 'hwqdir5', 'cert', 'ignore', '3389', 'name', 'clipboard', 'Icon', 'share', 'winconn', 'media', 'Terminal', 'false', 'Type', 'Application']
