['Desktop', 'Entry', 'Name', '微信', 'Exec', 'WINEPREFIX', 'home', 'sohunjug', 'wine', 'Program', 'Files', 'Tencent', 'QQLite', 'WeChat', 'Type', 'Application', 'StartupNotify', 'true', 'Path', 'dosdevices', 'Icon', '06F2_WeChat']
