['Desktop', 'Entry', 'Name', 'Remote', 'Comment', 'Local', 'Exec', 'xfreerdp', 'sohunjug', 'hwqdir5', 'Icon', 'share', 'winconn', 'media', 'Terminal', 'false', 'Type', 'Application']
